<div class="p-4">
    <h2 class="text-center">Administrar Perfiles de Administrador</h2>
    <%= render partial: 'title'%>
    <div class="mt-4">
         <div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr class="table-header text-center">
                        <th scope="col">Rut</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Alias</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="admin_List">
                
                    <%= render partial: "user", collection: @users %>
                </tbody>
            </table>
        <div>
    </div>
</div>