<div class="p-4">
    <h2 class="text-center">Carro de Compras</h2>
    <%= render partial: 'title'%>
    <div class="mt-4">
        <div class="jumbotron jumbotron-fluid bg-light">
            <div class="container">
                <h1 class="display-6">Hola <%= current_user.user_name%></h1>
                <p class="lead">Gestiona tu Pedido.</p>
            </div>
        </div>
    </div>
</div>
