<!-- Modal -->
<div class="modal fade" id="modalProfileDetail" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="modalProfileDetailLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark">
        <h6 class="modal-title text-white" id="modalProfileDetailLabel">Modal title</h6>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="bodyModalProfile">
        ...
      </div>
      <div class="modal-footer" id="footerModalProfile" >
        
      </div>
    </div>
  </div>
</div>