<div class="">
    <%= link_to "En Curso",ordermanager_in_progress_orders_path, class:"btn btn-primary shadow"%>
    <%= link_to "Pendientes",ordermanager_pendig_orders_path, class:"btn btn-primary shadow"%>
    <%= link_to "Finalizadas",ordermanager_finished_orders_path, class:"btn btn-primary shadow"%>
    <%= link_to "Canceladas",ordermanager_canceled_orders_path, class:"btn btn-primary shadow"%>
</div>