<div>
    <%= link_to "En curso", shopping_in_progress_path, class:"btn btn-primary"%>
    <%= link_to "Pendientes", shopping_pending_path, class:"btn btn-primary"%>
    <%= link_to "Finalizadas", shopping_finished_path, class:"btn btn-primary"%>
    <%= link_to "Canceladas", shopping_canceled_path, class:"btn btn-primary"%>
</div>