<div>
    <%= link_to "En curso", shopping_in_progress_path, class:"btn btn-primary"%>
    <%= link_to "Pendientes", manager_administrators_path, class:"btn btn-primary"%>
    <%= link_to "Finalizadas", manager_users_path, class:"btn btn-primary"%>
    <%= link_to "Canceladas", manager_administrators_path, class:"btn btn-primary"%>
</div>