// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Oswald&family=Poppins&family=Raleway&family=Roboto&family=Source+Sans+Pro&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Work Sans', sans-serif;
*/


body{
  font-family: 'Oswald', sans-serif;
    background: url("textura_jeans2.png")no-repeat center center fixed;
    background-size: 100vw 100vh;
    z-index: -999;
}
/*Primer navbar*/
.navbar-title{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 8px;
}
/*Titulo secundario*/
.title-men-sec{
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

/*Segundo navbar de titulo principal*/
.navbar-title-dos{
    padding-bottom: 20px !important;
    -webkit-box-shadow: -2px 21px 37px 2px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: -2px 21px 37px 2px rgba(0,0,0,0.75) !important;
    box-shadow: -2px 21px 37px 2px rgba(0,0,0,0.75) !important;
}

/*Titulo principal free*/
.title-ppal{
    font-size: 35px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

/*Accesos a iconos*/
.accesos-iconos{
    float: right;
    margin-top: -5px;
    font-size: 20px;
  
}

/*Accesos a iconos*/
.accesos-iconos-badge{
  float: right;
  margin-top: -9px;
  margin-left: -2px;
  
}

.accesos-iconos:hover {
    color: #d80404 !important;
}

/* Menu Panel */
.contenedor-menu{
    margin-top: -12px;
}

.dropdownmenu{
    padding-left: 20vw;
    padding-right: 20vw;
}

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #d80404;
  color: #FFFFFF;
	display: block;
  font: bold 10px/10px sans-serif;
  font-family: 'Work Sans', sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}

/*Index de logeo*/
/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  padding-top: 20vh;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -999;
  background: #f8f9fa;
  color: #fff !important;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 0px;
  background: #f8f9fa;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color:white;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

.perfil_photo{
  margin-top: -10%;
  margin-bottom: 10%;
  margin-left: 25%;
  color: #CCC;
  width: 80px;
  height: 80px;
  border: solid 3px #fff;
  transition: 0.5s;
}

	
.perfil_photo:hover{
  border: solid 3px #d80404;
  -webkit-transform: rotate(360deg);transform: rotate(360deg);
  -webkit-box-shadow: 0px 0px 49px -6px rgba(255,255,48,1);
-moz-box-shadow: 0px 0px 49px -6px rgba(255,255,48,1);
box-shadow: 0px 0px 49px -6px rgba(255,255,48,1);
}

/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

#content {
  z-index: -999;
  width: calc(100% - 150px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

.contenedor-btn-panel{
  z-index: 1;
  float: left;
  padding: 2%;
}

.btn-panel{
    color: #d80404;
    font-size: 12px !important;
    font-family: 'Raleway', sans-serif;
    z-index: 1;
    border: none;
}

.yield-contenido{
    margin-top: 16vh;
    background-color: white;
    
}

.yield-contenido-free{
    margin-top: 22vh;
    background-color: white;
    z-index: -1 !important;
}

/*Footer*/
.footer{
    margin-bottom: -2px;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}

///Menu Personal

.content-menu{
  width: 150px;
  background: #d80404;
  transition: all 300ms;
}
.content-menu li{
  list-style: none;
  text-align: center;
  padding: 6px;
  color: white;
  transition: all 300ms;
  cursor: pointer;
}

.content-menu li:hover{
  transform: translateY(0px);
  background: #000000;
}

.content-menu li span{
  font-size: 15px;
}

.content-menu li h4{
  font-weight: 100;
  font-size: 12px !important;
  transform: translateY(18px) translateX(-150px);
  transition: all 300ms;
  
}

.icon1{
  color: white;
}

.icon2{
  color: white;
}


.icon3{
  color: white;
}


.icon4{
  color: white;
}


.icon5{
  color:white;
};



.icon6{
  color: white;
}



.icon7{
  color: white;
}



.icon8{
  color: white;
}

.icon9{
  color: white;
}
.content-menu:hover .text1{
  transform: translateX(0px);
  transition: all 100ms;
}

.content-menu:hover .text2{
  transform: translateX(0px);
  transition: all 200ms;
}


.content-menu:hover .text3{
  transform: translateX(0px);
  transition: all 300ms;
}


.content-menu:hover .text4{
  transform: translateX(0px);
  transition: all 400ms;
}


.content-menu:hover .text5{
  transform: translateX(0px);
  transition: all 500ms;
}


.content-menu:hover .text6{
  transform: translateX(0px);
  transition: all 600ms;
}


.content-menu:hover .text7{
  transform: translateX(0px);
  transition: all 700ms;
}


.content-menu:hover .text8{
  transform: translateX(0px);
  transition: all 800ms;
}


.content-menu:hover .text9{
  transform: translateX(0px);
  transition: all 900ms;
}

//Formolarios Devise
.form-devise{
  font-size: 12px; 
}

.shadow-red{
  -webkit-box-shadow: 0px 17px 85px 11px rgba(0,0,0,1);
  -moz-box-shadow: 0px 17px 85px 11px rgba(0,0,0,1);
  box-shadow: 0px 17px 85px 11px rgba(0,0,0,1);
}

.shadow-perfil{
  -webkit-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
}

.perfil-date{
  font-size: 13px;
}

//alertas

.alert-style{
  position: absolute ;
  z-index: 1;
  width: 700px;
  left: 50%;
margin-left: -350px;
  
  -webkit-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 49px 6px rgba(0,0,0,0.75);
}

// hojas de table
.table-header{
  font-size: 14px;
}

.table-detail{
  font-size: 13px;
}

/*modal profile*/
.profile_photo{
  left: 50%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #CCC;
  width: 120px;
  height: 130px;
  border: solid 3px #fff;
  transition: 0.5s;
}

//////////////////////////////////
.carrusel-index{
  margin-left: -2%;
  margin-right: -2%;
  height: 50%;
}

.photo-default{
  width: 400px;
  height: 500px;
}

.icon{
  width: 200px;
}

.item {
  vertical-align: center
}

.btn-search-pm{
  display: none;
}

.alert-page{
  z-index: 2;
}
/* tarjeta*/

.title-card-product{
  font-size: 1rem !important;
}

.detail-card-product{
  font-size: 0.8rem;
}

.card-img-top{
  width: 100% !important;
  height: 19.25rem !important;
}

/*carusel product detalle*/

.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

/*reviews*/
.photo-reviews{
  width: 120px;
  height: 120px;
}

.font-size-review{
  font-size: 13px;
}

.font-size-review-body{
  font-size: 14px;
}
