<div>
    <div class="row">
        <div class="col-6">
            <%= image_tag "https://dafitistaticcl-a.akamaihd.net/p/efesis-8790-143835-1-product.jpg", class:"w-50" %>
            
        </div>
        <div class="col-6" id="bodyProduct">
            
        </div>
    </div>
    <hr>
    <div>
        <div><div>
    </div>
</div>