<div>
<%if user_signed_in? %>
    <br/>
    <span>Dale Valoracion a este Producto</span>
    <%= form_tag( punctiation_products_path, method: "get", remote: true) do %>
        <%= text_field_tag :product_id, params[:product_id] , id: :input_product_id_cart %>
        <%= select(:punctuation_id, params[:punctiation_num], [['1', 1], ['2', 2],['3', 3],['4', 4],['5', 5]], {include_blank: "Vota"},{:required => true, class:'h6'}) %>
        <%= submit_tag "Vota", class:"btn btn-dark btn-sm m-1", data: {disable_with: "Puntuando Producto..."} %>
    <% end %>
 <% end %>
</div>

