<div class="bg-product mb-5">
    <div class="mb-4 shadow-lg">
        <%= image_tag "banner_jeans.jpg", class:"w-100"%>
        
    </div>

    <div class ="row justify-content-center pb-3" id="list_product-ppal-free">
            <%= render partial: "product", collection: @products %>
    </div>

</div>