<div class="text-center pt-5 mb-5 ">
    <%= image_tag "banner_dashboard", class:"title-talla "%>
    <div class="row m-4 justify-content-center">
        <div class="col-auto rounded shadow-lg m-4">
            <%= column_chart @quantity_purshaces_12_moths, messages: {empty: "Sin compras"}, legend: "bottom", label: "Cantidad", title: "Cantidad de Compras X Mes del Ultimo Año"%>
        </div>
        <div class="col-auto rounded shadow-lg m-4">
             <%= column_chart @total_purshaces_12_moths,prefix: "$", messages: {empty: "Sin compras"},thousands: ".", label: "Pesos", legend:   "bottom",colors: ["#d80404", "#666"], title: "Total en Compras X Mes del Ultimo Año"%>
        </div>

    </div>
    <!--Footer-->
    <div class="container-fluid bg-dark mt-5">

    
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 py-5 text-center text-50 text-white  z-depth-1 rounded">

          <h5 class="">Jeans Lover Shop <i class="fa fa-heart text-danger mx-1"></i> Sitio Creado por Alvaro Rivas</h5>

        </section>
        <!--Section: Content-->


    </div>
    <!--Footer-->

</div>